# Resend (envio de e-mail real)
# Obtenha sua key em: https://resend.com/api-keys
RESEND_API_KEY=re_sua_key_aqui

# E-mail do Instituto Kalapa (remetente e destinatário das notificações)
KALAPA_EMAIL_FROM=contato@institutokalapa.com.br
KALAPA_EMAIL_TO=contato@institutokalapa.com.br
